<footer>
  <div class="grid">
    <div class="shop">
      <a href="../index.html" class="logo"><img src="../assets/images/logo.png" width="30px" alt="logo" loading="lazy"><h1 class="yatra-one">kabir khaja ghar</h1></a>
      <div class="social">
        <a href=""><i class="ri-facebook-fill"></i></a>
        <a href=""><i class="ri-twitter-line"></i></a>
        <a href=""><i class="ri-instagram-line"></i></a>
        <a href=""><i class="ri-tiktok-line"></i></a>
      </div>
    </div>
    <div class="links">
      <ul>
        <li><a href="../menu.html" class="asul-bold">menu</a></li>
        <li><a href="" class="asul-bold">terms & conditions</a></li>
      </ul>
      <ul>
        <li><a href="" class="asul-bold">privacy policy</a></li>
        <li><a href="" class="asul-bold">policy cookies</a></li>
      </ul>
      <ul>
        <li><a href="" class="asul-bold">accessebility</a></li>
      </ul>
    </div>
  </div>
  <p class="asul-regular">© kabir khaja ghar</p>
</footer>