.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1vw var(--p-side);
}

.t-logo {
	/* font-size: calc(var(--para) + 0.5rem); */
	font-size: var(--para);
	line-height: 1;
	text-transform: capitalize;
	color: var(--text);
}

.navbar ul {
	display: flex;
	align-items: center;
	column-gap: calc(var(--para) * 2);
}

.navbar ul li a {
	position: relative;
	font-size: var(--para);
	line-height: 1;
	text-transform: capitalize;
	color: var(--text);
}

.navbar ul .ar a::before {
	content: '';
	position: absolute;
	bottom: 0;
	width: 0;
	border-bottom: 2px solid var(--cta);
	transition: width 0.3s ease;
}

.navbar ul .ar a:hover::before {
	width: 100%;
	transition: width 0.3s ease;
}

.navbar .cta-btn {
	padding: var(--half) var(--icon);
	border: 1px solid var(--cta);
	border-radius: 2vw;
	text-transform: capitalize;
	color: var(--text);
	background-color: var(--background);
	transition: background-color 0.2s linear, color 0.2s linear;
	cursor: pointer;
}

.navbar .cta-btn:hover {
	color: var(--background);
	background-color: var(--cta);
	transition: background-color 0.2s linear, color 0.2s linear;
}

.navbar .cta-btn:hover .phone-icon {
	color: var(--background);
	transition: color 0.2s linear;
}