<nav class="navbar">
  <a href="../index.html" class="logo"><img src="../assets/images/logo-transparent.png" width="30px" alt="logo" loading="lazy"><h1 class="yatra-one">kabir khaja ghar</h1></a>
  <ul class="nav-links">
    <li class="asul-regular"><a href="../index.html">home</a></li>
    <li class="asul-regular"><a href="../about.html">about</a></li>
    <li class="asul-regular"><a href="../menu.html">menu</a></li>
    <li class="asul-regular"><a href="#review">reviews</a></li>
    <li class="asul-regular"><a href="#contact">contact</a></li>
    <li class="cart asul-bold"><a href="">cart <i class="ri-shopping-cart-2-line cart-icon"><span class="cart-count" id="cart-count"></span></i></a></li>
  </ul>
</nav>