<nav class="navbar">
  <a href="../index.html" class="logo">
    <h1 class="yo t-logo">kabir khaja ghar</h1>
  </a>
  <ul class="nav-links">
    <li class="ar">
      <a href="../index.html">home</a>
    </li>
    <li class="ar">
      <a href="../about.html">about</a>
    </li>
    <li class="ar">
      <a href="../menu.html">menu</a>
    </li>
    <li class="ar">
      <a href="#review">reviews</a>
    </li>
    <li class="ar">
      <a href="./index.html/#contact">contact</a>
    </li>
  </ul>
  <a href="tel:+9779746428695">
    <button class="cta-btn ab">call now <i class="ri-phone-line phone-icon"></i></button>
  </a>
</nav>