footer {
	margin-top: 5rem;
	padding: 2rem 10vw;
	background-color: var(--text);
}

.logo .ar {
	color: var(--background);
}

.footer-flexbox {
	display: flex;
	justify-content: space-between;
}

.social {
	display: flex;
	align-items: center;
	column-gap: 1rem;
}

.social-icon {
	font-size: 1.5rem;
	color: var(--background);
}

.links {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	column-gap: 3rem;
	row-gap: 1rem;
}

.link {
	text-transform: capitalize;
	color: var(--background);
}

footer .para {
	color: var(--background);
}

.cc {
	margin-top: 2rem;
	text-align: center;
}

@media (max-width: 425px) {
	.footer-flexbox {
		display: flex;
		flex-direction: column;
		row-gap: 2rem;
	}

 	.links {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}
}

@media (max-width: 768px) and (min-width: 426px) {
	.sub-heading {
		font-size: 1.5rem;
	}
}