footer {
	margin-top: 5vw;
	padding: 2rem 10vw;
	background-color: var(--text);
}

.logo .yo {
	color: var(--background);
}

.footer-flexbox {
	display: flex;
	justify-content: space-between;
}

.social {
	display: flex;
	align-items: center;
	column-gap: 1rem;
}

.social-icon {
	font-size: 1.5rem;
	color: var(--background);
}

.links {
	display: grid;
	grid-template-columns: repeat(1fr, 3);
	grid-template-row: repeat(1fr, 2);
	row-gap: 1rem;
}

.link {
	color: var(--background);
}