* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
	width: 100%;
  font-size: 16px;
	background-color: var(--background);
}

:root {
	--text: #2e2e2e;
	--border: #e5e5e5;
	--tags: #a8d5ba;
	--secondary: #ff6d3f;
	--background: #fafafa;
	--p-ud: 4vw;
	--p-side: 10vw;
  --heading: 6rem;
  --sub-heading: 3rem;
  --title: 1.2rem;
  --para: 1rem;
	--half: 0.5rem;
  --icon: 1.2rem;
}

@font-face {
	font-family: 'Yatra One';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/fonts/YatraOne-Regular.ttf');
}

@font-face {
	font-family: 'Asul regular';
	src: url('../assets/fonts/Asul-Regular.ttf');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Asul bold';
	src: url('../assets/fonts/Asul-Regular.ttf');
	font-style: normal;
	font-weight: 700;
}

.yo {
	font-family: 'Yatra One', serif;
}

.ar {
	font-family: 'Asul regular', serif;
}

.ab {
	font-family: 'Asul bold', serif;
}

html::-webkit-scrollbar {
	width: var(--half);
	background-color: var(--border);
}

html::-webkit-scrollbar-thumb {
	background-color: var(--cta);
	border-radius: var(--half);
}