* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  color: var(--text);
  /* outline: 1px dotted red; */
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--background);
}

.hero {
	width: 100%;
	overflow: hidden;
}

section {
	padding: 0 5vw;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5vw;
}

h1.menu {
  margin: 2vw 0;
  font-size: 5vw;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  column-gap: 2vw;
}

.content {
  width: 30%;
}

picture {
  height: 100%;
  width: 100%;
  background-color: #333;
  overflow: hidden;
}

picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.items {
  display: flex;
  flex-direction: column;
  row-gap: 2vw;
}

.title {
  font-size: 2vw;
  text-transform: capitalize;
  text-align: center;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1vw;
}

.info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5vw;
  text-transform: capitalize;
}

.desc {
  width: 80%;
  font-size: 1.2vw;
}

hr {
  border-color: var(--text);
}

.view-btn {
	padding: 1vw 2vw;
	font-size: 1.5vw;
	text-transform: capitalize;
	border: 1px solid var(--cta);
	border-radius: 2vw;
  color: var(--background);
  background-color: var(--cta);
	transition: background-color .5s linear, color .5s linear;
	cursor: pointer;
}

.view-btn:hover {
	color: var(--cta);
	background-color: var(--background);
	transition: background-color .5s linear, color .5s linear;
}