@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  /* outline: 1px dotted red; */
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #e5e3a3;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 5vw;
  /* background-color: #fffffa; */
}

nav h1 {
  font-size: 1.5vw;
  line-height: 1;
  color: orange;
  -webkit-text-stroke: 0.1px red;
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  column-gap: 2.5vw;
}

li a {
  font-size: 1.2vw;
  line-height: 1;
  text-transform: capitalize;
  color: orange;
}

main {
  /* height: 100vh; */
  width: 100%;
  padding: 0 5vw 2vw 5vw;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.left {
  width: 50%;
  margin-top: 2vw;
  display: flex;
  flex-direction: column;
  row-gap: 2vw;
  /* justify-content: center; */
}

.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  row-gap: 1vw;
}

.heading hr {
  height: 1.2vw;
  width: 50%;
  border: none;
  border-radius: .3vw;
  background-color: red;
}

.heading h2 {
  font-family: "Lilita One", sans-serif;
  font-size: 2.5vw;
  line-height: 1;
  text-transform: uppercase;
  /* color: #8b1d1d; */
}

.items {
  padding-right: 2vw;
}

.item {
  position: relative;
  margin-top: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1vw;
  z-index: -.1;
  /* border-bottom: .2vw solid #8b1d1d; */
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vw;
  width: 5vw;
  font-size: 1.2vw;
  border-radius: 1vw;
  color: #ccc;
  background-color: #333;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* row-gap: 0.5vw; */
}

.name {
  font-size: 1.2vw;
  /* line-height: 1; */
  text-transform: capitalize;
}

.desc {
  /* line-height: 1; */
  font-size: 0.8vw;
  color: #333;
}


.img{
  position: absolute;
  height: 10vw;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
}


.right {
  height: fit-content;
  width: 40%;
  padding: 0 0 2vw;
  cursor: default;
}

.up {
  background-color: #8b1d1d;
  padding: 2vw 0;
}

.headings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headings h3 {
  font-family: "Nunito", sans-serif;
  font-size: 1.3vw;
  line-height: 1;
  text-transform: uppercase;
  color: #e5e3a3;
}

.headings h2 {
  font-family: "Patua One", serif;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  font-size: 3.2vw;
  line-height: 1;
  text-transform: uppercase;
  color: #e5e3a3;
}

.headings h1 {
  font-family: "Patua One", serif;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  font-size: 5vw;
  line-height: .7;
  text-transform: uppercase;
  color: #e5e3a3;
}

.headings hr {
  height: 1vw;
  width: 38%;
  margin-top: .8vw;
  border: none;
  border-radius: .3vw;
  background-color: #e5e3a3;
}

picture {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

picture img {
  width: 140%;
  height: auto;
  object-fit: cover;
  mix-blend-mode: multiply;
}

picture .price {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  color: #8b1d1d;
  background-color: rgb(219, 168, 176);
}

.right .content {
  margin-top: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right .content h3 {
  font-size: 1.5vw;
  text-transform: uppercase;
  color: #e5e3a3;
}

.right .content p {
  width: 50%;
  text-align: center;
  font-size: .8vw;
  text-transform: uppercase;
  color: #e5e3a3;
}

.down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4vw 0;
}

.down h3 {
  font-family: "Patua One", serif;
  font-size: 2.5vw;
  text-transform: uppercase;
  color: #222;
}

.down a {
  font-family: "Patua One", serif;
  font-size: 3vw;
  text-decoration: underline;
  color: #8b1d1d;
}