main {
	padding: 5vw 10vw 0;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 1rem;
}

.card {
  height: 15rem;
  width: 200px;
  border: 1px solid var(--secondary);
  border-radius: 1rem;
}