@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  /* outline: 1px dotted red; */
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #fafafa;
}

footer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
}

.container {
  position: relative;
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  background-color: yellow;
  cursor: pointer;
}

.container:hover .content {
  height: 0;
  transition: height 0.5s ease;
}

.content {
  height: 50%;
  width: 100%;
  position: absolute;
  background-color: #fefefe;
  transition: height 0.5s ease;
}

.c1 {
  top: 0;
}

.c2 {
  bottom: 0;
}

.smth {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  font-size: 4vw;
  font-weight: 900;
  text-transform: uppercase;
}