main {
	padding: 5vw 10vw 0;
}

.grid {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 3.5rem;
}

.item {
	height: 250px;
	width: 200px;
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
	flex-shrink: 0;
	padding: 1rem;
	text-align: center;
	border: 1px solid var(--secondary);
	border-radius: 1rem;
	box-shadow: 0 0 10px var(--border), 0 0 10px var(--border);
	.para {
		margin: 0;
	}
}

.item picture {
	height: 50%;
	width: 100%;
	overflow: hidden;
}

.item img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 0.5rem;
}

.name {
	font-size: 1.2rem;
	line-height: 1;
	text-transform: capitalize;
	color: var(--text);
}

.info {
	width: 100%;
	padding: 0.5rem 0 0;
	border-top: 1px solid var(--text);
}

.price {
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
	color: var(--text);
}

.btn {
	height: 2.5rem;
	width: 100%;
	font-size: 1.2rem;
	text-transform: capitalize;
	border: 1px solid var(--secondary);
	border-radius: 0.5rem;
	color: var(--secondary);
	background-color: var(--background);
	transition: background-color var(--transition), color var(--transition);
	cursor: pointer;
	&:hover {
		color: var(--background);
		background-color: var(--secondary);
	}
}

@media (max-width: 425px) {
	.grid {
		row-gap: 2rem;
	}

	.item {
		height: 200px;
		width: 150px;
	}

	.info {
		padding: 0.2rem 0 0;
	}

	.price {
		margin-bottom: 0.2rem;
	}
}

@media (max-width: 375px) {
	.grid {
		row-gap: 1.5rem;
	}

	.item {
		height: 180px;
		width: 120px;
	}
}

@media (max-width: 768px) and (min-width: 426px) {
	.grid {
		row-gap: 2rem;
	}

	.item {
		height: 220px;
		width: 180px;
	}

	.info {
		padding: 0.2rem 0 0;
	}

	.price {
		margin-bottom: 0.2rem;
	}
}

@media (min-width: 1025px) {
	.grid {
		row-gap: 3.5rem;
	}

	.item {
		height: 20rem;
		width: 15rem;
	}

	.info {
		padding: 1rem 0 0;
	}

	.price {
		margin-bottom: 1rem;
	}
}