.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 10vw;
}

.nav-logo {
	font-size: 1.2rem;
	line-height: 1;
	text-transform: capitalize;
	color: var(--text);
}

.nav-links {
	display: flex;
	align-items: center;
	column-gap: 2rem;
}

.nav-link {
	position: relative;
	font-size: var(--normal-txt-size);
	line-height: 1;
	font-size: 1rem;
	text-transform: capitalize;
	color: var(--text);
	&::before {
	content: '';
	position: absolute;
	bottom: 0;
	width: 0;
	border-bottom: 2px solid var(--secondary);
	transition: width var(--transition);
	}
	&:hover::before {
		width: 100%;
		transition: width var(--transition);
	}
}

.nav-cta-btn {
	position: relative;
	padding: 0.5rem 1rem;
	border: 1px solid var(--secondary);
	border-radius: 2rem;
	text-transform: capitalize;
	color: var(--text);
	background-color: var(--background);
	cursor: pointer;
	transition: background-color var(--transition), color var(--transition);
 	&:hover {
		color: var(--background);
		background-color: var(--secondary);
		transition: background-color var(--transition), color var(--transition);
	}
  &:hover .phone-icon {
		color: var(--background);
		transition: color var(--transition);
	}
}

@media (max-width: 425px) {
	.navbar {
		flex-direction: column;
		row-gap: 1.2rem;
	}
	.nav-link {
		font-size: 0.8rem;
	}
}

@media (max-width: 768px) and (min-width: 426px) {
	.nav-logo {
		font-size: 1rem;
	}
	.nav-link {
		font-size: 0.8rem;
	}
	.nav-cta-btn {
		padding: 0.2rem 0.5rem;
	}
}