* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
	width: 100%;
	background-color: var(--background);
}

.hero {
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

section {
	padding: 0 5vw;
}

.container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.content {
	flex: 1;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 2vw;
}

.heading h1 {
	display: flex;
	align-items: center;
	font-size: 8vw;
	line-height: 1;
	text-transform: capitalize;
	color: var(--text);
}

.heading h1:nth-child(2) {
	justify-content: space-around;
}

.content p {
	margin: 1vw 0;
	font-size: 1.5vw;
	color: var(--text);
}

.cta {
	display: flex;
	align-items: center;
	column-gap: 2vw;
}

.btn,
.view-btn {
	padding: 1vw 2vw;
	font-size: 1.5vw;
	text-transform: capitalize;
	border: 1px solid var(--cta);
	border-radius: 2vw;
	color: var(--text);
	background-color: var(--background);
	transition: background-color .5s linear, color .5s linear;
	cursor: pointer;
}

.view-btn {
	color: var(--background);
	background-color: var(--cta);
}

.btn:hover {
	color: var(--background);
	background-color: var(--cta);
	transition: background-color .5s linear, color .5s linear;
}

.view-btn:hover {
	color: var(--cta);
	background-color: var(--background);
	transition: background-color .5s linear, color .5s linear;
}

.bg {
	position: absolute;
	top: 55%;
	right: 0;
	transform: translateY(-50%);
	height: 85vh;
	width: 50vw;
	border-radius: 30vw 0 0 30vw;
	background-color: #333;
}

.hero .content .hero-img {
	position: absolute;
	top: 55%;
	transform: translateY(-52%);
	z-index: 2;
	overflow: hidden;
}

.hero .content .hero-img img {
	height: auto;
	max-width: 80%;
	object-fit: cover;
	object-position: center;
}

.cards,
.items {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 4vw 0 5vw;
}

.cards {
	padding: 5vw;
}

.card {
	position: relative;
	height: 16vw;
	width: 15vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 1vw;
	flex-shrink: 0;
	text-align: center;
	border: 1px solid var(--cta);
	border-radius: 2vw;
}

.card picture {
	margin-top: -25%;
	height: 8vw;
	width: 8vw;
	flex-shrink: 0;
	border: 1px solid var(--cta);
	border-radius: 50%;
	background-color: var(--background);
	overflow: hidden;
}

.card h3 {
	font-size: 1.2vw;
}

.card p {
	font-size: 1vw;
}

.about {
	height: 100vh;
}

.about .content:first-child {
	display: flex;
	align-items: center;
	justify-content: center;
}

.about picture {
	height: 80vh;
	width: 30vw;
	border-radius: 15vw 15vw 0 0;
	border: 1px solid var(--cta);
}

.about h1 {
	font-size: 3vw;
	text-align: center;
	color: var(--text);
}

.must-try {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.must-try h1 {
	font-size: 3vw;
	text-align: center;
	color: var(--text);
}

.item {
	position: relative;
	height: 30vw;
	width: 20vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 1vw;
	flex-shrink: 0;
	padding: 1vw;
	text-align: center;
	border: 1px solid var(--cta);
	border-radius: 2vw;
	box-shadow: 0 0 10px var(--border), 0 0 10px var(--border);
}

.item picture {
	height: 50%;
	width: 100%;
	overflow: hidden;
}

.item h3 {
	font-size: 1.5vw;
	text-transform: capitalize;
	color: var(--text);
}

.item p {
	font-size: 1.2vw;
	color: var(--text);
}

.info {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1vw 0 0;
	border-top: 1px solid var(--text);
}

.info p {
	font-size: 1.3vw;
	color: var(--text);
}

.info i {
	padding: .5vw .7vw;
	font-size: 1.3vw;
	border: 1px solid var(--cta);
	border-radius: 50%;
	color: var(--text);
	transition: background-color .5s linear, color .5s ease;
	cursor: pointer;
}

.info i:hover {
	color: var(--background);
	background-color: var(--cta);
	transition: background-color .5s linear, color .5s ease;
}

.smth {
	height: 100vh;
	width: 100%;
	padding: 0;
	display: flex;
	align-items: center;
	background: url('') no-repeat center cover;
}

.txt {
	height: 50vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2e2e2e50;
}

.txt p {
	width: 50%;
	font-size: 2vw;
	text-align: center;
	color: var(--background);
}

.reviews {
	height: 100vh;
}

.reviews h1 {
	font-size: 3vw;
	text-align: center;
	text-transform: capitalize;
	color: var(--text);
}

.slider {
	position: relative;
}

.arrows {
	position: absolute;
	top: 50%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.slide {
	width: 50%;
}

.persona {
	display: flex;
	align-items: center;
	column-gap: 1vw;
}

.persona picture {
	height: 5vw;
	width: 5vw;
	border: 1px solid var(--border);
	border-radius: 50%;
	background-color: var(--cta);
	overflow: hidden;
}

.name {
	display: flex;
	flex-direction: column;
}

.star-empty {
	color: var(--cta);
}

.star-filled {
	color: var(--cta);
}

.contact {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact h1 {
	font-size: 3vw;
	text-align: center;
	text-transform: capitalize;
	color: var(--text);
}

.schedule {
	height: 75%;
	width: 20vw;
	padding: 1vw 2vw;
	border: 1px solid var(--cta);
	border-radius: 2vw;
}

.schedule h3 {
	font-size: 1.5vw;
	text-transform: capitalize;
	text-decoration: underline;
	color: var(--text);
}

.schedule p {
	font-size: 1.2vw;
	line-height: 1;
	color: var(--text);
}

.address {
	height: 60vh;
	width: 100%;
	margin-top: 5vw;
	display: flex;
	flex-direction: column;
	padding: 0;
}

.google-map {
	height: 100%;
	width: 100%;
}

iframe {
	height: 100%;
	width: 100%;
}

address {
	display: flex;
	align-items: center;
	column-gap: .5vw;
	padding: 0 5vw;
	font-size: 1.5vw;
	text-transform: capitalize;
	color: var(--text);
}