.sec {
	padding: 5vw 10vw 0;
}

.hero-sec {
	height: 100dvh;
	width: 100%;
	overflow: hidden;
}

.flexbox {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.heading {
	width: 50%;
	font-size: 6rem;
	line-height: 1;
	text-transform: capitalize;
	color: var(--text);
}

.ctas {
	margin-top: 3rem;
	display: flex;
	align-items: center;
	column-gap: 5rem;
}

.cta {
	height: 3rem;
	width: 10rem;
	font-size: 1.2rem;
	text-transform: capitalize;
	border: 1px solid var(--secondary);
	border-radius: 2rem;
	color: var(--text);
	background-color: var(--background);
	transition: background-color var(--transition), color var(--transition);
	cursor: pointer;
}

.call-btn {
	color: var(--background);
	background-color: var(--secondary);
	&:hover {
		color: var(--secondary);
		background-color: var(--background);
	}
}

.view-btn:hover {
	color: var(--background);
	background-color: var(--secondary);
}

.hero-image {
	height: 55vh;
	width: auto;
	object-fit: cover;
	object-position: center;
	padding: 0.5rem;
	border: 2px solid var(--secondary);
	border-radius: 2rem 2rem 0 0;
}

.cards,
.items {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.card {
	position: relative;
	height: 14rem;
	width: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-shrink: 0;
	padding: 1rem;
	text-align: center;
	border: 1px solid var(--secondary);
	border-radius: 2rem;
}

.card picture {
	margin-top: -40%;
	height: 6rem;
	aspect-ratio: 1/1;
	flex-shrink: 0;
	border: 1px solid var(--secondary);
	border-radius: 50%;
	background-color: var(--background);
	overflow: hidden;
}

.card img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.txts {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	height: 2rem;
	font-size: 1.2rem;
	line-height: 1;
	text-transform: capitalize;
	color: var(--text);
}

.about-left-sec {
	display: flex;
	align-items: center;
	justify-content: center;
}

.about figure {
	height: 80vh;
	width: 30vw;
	border-radius: 15vw 15vw 0 0;
	border: 1px solid var(--cta);
}

.caption {
	text-align: center;
}

.about-image {
	height: 70vh;
	width: auto;
	padding: 1rem;
	object-fit: cover;
	object-position: center;
	border: 2px solid var(--secondary);
	border-radius: 12rem 12rem 0 0;
}

.about-right-sec {
	width: 50%;
}

.must-try {
	display: flex;
	flex-direction: column;
	align-items: center;
	.view-btn {
		margin-top: 3rem;
	}
}

.item {
	height: 20rem;
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 0.5rem;
	flex-shrink: 0;
	padding: 1rem;
	text-align: center;
	border: 1px solid var(--secondary);
	border-radius: 1rem;
	box-shadow: 0 0 10px var(--border), 0 0 10px var(--border);
	.para {
		margin: 0;
	}
}

.item picture {
	height: 50%;
	width: 100%;
	overflow: hidden;
}

.item img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 0.5rem;
}

.name {
	font-size: 1.2rem;
	line-height: 1;
	text-transform: capitalize;
	color: var(--text);
}

.info {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 0 0;
	border-top: 1px solid var(--text);
}

.price {
	font-size: 1.2rem;
	color: var(--text);
}

.info i {
	height: 30px;
	aspect-ratio: 1 / 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2rem;
	border: 1px solid var(--secondary);
	border-radius: 50%;
	color: var(--text);
	transition: background-color var(--transition), color var(--transition);
	cursor: pointer;
	&:hover {
	color: var(--background);
	background-color: var(--secondary);
	}
}

.memo {
	height: 100dvh;
	width: 100%;
	margin-top: 5vw;
	display: flex;
	align-items: center;
	background-image: url("https://images.unsplash.com/photo-1535850452425-140ee4a8dbae?q=80&w=812&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.txt {
	height: 50vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #00000099;
	.para {
		width: 50%;
		text-align: center;
		color: var(--background);
	}
}

.review-sec {
	height: 80dvh;
}

.swiper {
	height: 100%;
  width: 100%;
}

.swiper-slide {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slide {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 50%;
	width: 50%;
	padding: 1rem;
	border: 1px solid var(--secondary);
}

.persona {
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
}

.pfp {
	height: 3rem;
	aspect-ratio: 1 / 1;
	border: 1px solid var(--secondary);
	border-radius: 50%;
	object-position: center;
	object-fit: cover;
	background-color: var(--border);
	overflow: hidden;
}

.rating {
	display: flex;
	flex-direction: column;
}

.star-empty {
	color: var(--secondary);
}

.star-filled {
	color: var(--secondary);
}

.address-sec {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.google-map {
	height: 100%;
	width: 100%;
}

iframe {
	height: 100%;
	width: 100%;
}

address {
	margin-top: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 0.5rem;
	font-size: 1.2rem;
	text-transform: capitalize;
	color: var(--text);
}