.sec {
	padding: 5vw 10vw;
}

.hero-sec {
	height: 100dvh;
	width: 100%;
	overflow: hidden;
}

.flexbox {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.heading {
	width: 50%;
	font-size: 6rem;
	line-height: 1;
	text-transform: capitalize;
	color: var(--text);
}

.sub-heading {
	font-size: var(--sub-heading);
	line-height: 1;
	text-transform: capitalize;
	color: var(--text);
}

.para {
	margin: 1.2rem 0;
	font-size: var(--normal-txt-size);
	line-height: 1.2;
	color: var(--text);
}

.hero-ctas {
	margin-top: 3rem;
	display: flex;
	align-items: center;
	column-gap: 5rem;
}

.cta {
	height: 3rem;
	width: 10rem;
	font-size: 1.2rem;
	text-transform: capitalize;
	border: 1px solid var(--secondary);
	border-radius: 2rem;
	color: var(--text);
	background-color: var(--background);
	transition: background-color var(--transition), color var(--transition);
	cursor: pointer;
}

.call-btn {
	color: var(--background);
	background-color: var(--secondary);
	&:hover {
		color: var(--secondary);
		background-color: var(--background);
	}
}

.view-btn:hover {
	color: var(--background);
	background-color: var(--secondary);
}

.hero-image {
	height: 55vh;
	width: auto;
	object-fit: cover;
	object-position: center;
	padding: 0.5rem;
	border: 2px solid var(--secondary);
	border-radius: 2rem 2rem 0 0;
}

.cards,
.items {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.card {
	position: relative;
	height: 14rem;
	width: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-shrink: 0;
	padding: 1rem;
	text-align: center;
	border: 1px solid var(--secondary);
	border-radius: 2rem;
}

.card picture {
	margin-top: -40%;
	height: 6rem;
	aspect-ratio: 1/1;
	flex-shrink: 0;
	border: 1px solid var(--secondary);
	border-radius: 50%;
	background-color: var(--background);
	overflow: hidden;
}

.txts {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	height: 2rem;
	font-size: 1.2rem;
	line-height: 1;
	text-transform: capitalize;
	color: var(--text);
}

.about-sec {
	height: 100vh;
}

.sub-heading {
	margin-bottom: 4rem;
	font-size: var(--sub-heading-size);
	text-align: center;
	line-height: 1.2;
}

.about-left-sec {
	display: flex;
	align-items: center;
	justify-content: center;
}

.about figure {
	height: 80vh;
	width: 30vw;
	border-radius: 15vw 15vw 0 0;
	border: 1px solid var(--cta);
}

.caption {
	text-align: center;
}

.about-image {
	height: 70vh;
	width: auto;
	padding: 1rem;
	object-fit: cover;
	object-position: center;
	border: 2px solid var(--secondary);
	border-radius: 12rem 12rem 0 0;
}

.about-right-sec {
	width: 50%;
}

.must-try {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.must-try h1 {
	font-size: 3vw;
	text-align: center;
	color: var(--text);
}

.item {
	position: relative;
	height: 30vw;
	width: 20vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 1vw;
	flex-shrink: 0;
	padding: 1vw;
	text-align: center;
	border: 1px solid var(--cta);
	border-radius: 2vw;
	box-shadow: 0 0 10px var(--border), 0 0 10px var(--border);
}

.item picture {
	height: 50%;
	width: 100%;
	overflow: hidden;
}

.item h3 {
	font-size: 1.5vw;
	text-transform: capitalize;
	color: var(--text);
}

.item p {
	font-size: 1.2vw;
	color: var(--text);
}

.info {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1vw 0 0;
	border-top: 1px solid var(--text);
}

.info p {
	font-size: 1.3vw;
	color: var(--text);
}

.info i {
	padding: .5vw .7vw;
	font-size: 1.3vw;
	border: 1px solid var(--cta);
	border-radius: 50%;
	color: var(--text);
	transition: background-color .5s linear, color .5s ease;
	cursor: pointer;
}

.info i:hover {
	color: var(--background);
	background-color: var(--cta);
	transition: background-color .5s linear, color .5s ease;
}

.smth {
	height: 100vh;
	width: 100%;
	padding: 0;
	display: flex;
	align-items: center;
	background: url('') no-repeat center cover;
}

.txt {
	height: 50vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2e2e2e50;
}

.txt p {
	width: 50%;
	font-size: 2vw;
	text-align: center;
	color: var(--background);
}

.reviews {
	height: 100vh;
}

.reviews h1 {
	font-size: 3vw;
	text-align: center;
	text-transform: capitalize;
	color: var(--text);
}

.slider {
	position: relative;
}

.arrows {
	position: absolute;
	top: 50%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.slide {
	width: 50%;
}

.persona {
	display: flex;
	align-items: center;
	column-gap: 1vw;
}

.persona picture {
	height: 5vw;
	width: 5vw;
	border: 1px solid var(--border);
	border-radius: 50%;
	background-color: var(--cta);
	overflow: hidden;
}

.name {
	display: flex;
	flex-direction: column;
}

.star-empty {
	color: var(--cta);
}

.star-filled {
	color: var(--cta);
}

.contact {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact h1 {
	font-size: 3vw;
	text-align: center;
	text-transform: capitalize;
	color: var(--text);
}

.schedule {
	height: 75%;
	width: 20vw;
	padding: 1vw 2vw;
	border: 1px solid var(--cta);
	border-radius: 2vw;
}

.schedule h3 {
	font-size: 1.5vw;
	text-transform: capitalize;
	text-decoration: underline;
	color: var(--text);
}

.schedule p {
	font-size: 1.2vw;
	line-height: 1;
	color: var(--text);
}

.address {
	height: 60vh;
	width: 100%;
	margin-top: 5vw;
	display: flex;
	flex-direction: column;
	padding: 0;
}

.google-map {
	height: 100%;
	width: 100%;
}

iframe {
	height: 100%;
	width: 100%;
}

address {
	display: flex;
	align-items: center;
	column-gap: .5vw;
	padding: 0 5vw;
	font-size: 1.5vw;
	text-transform: capitalize;
	color: var(--text);
}